n8n-optimized-workflow.json
{
  "name": "Optimized Audio Transcription Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "transcribe-audio"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: 'Transcription process started', id: $json.id }) }}",
        "options": {}
      },
      "id": "respond-immediately",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract JSON Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/audio_{{ $json.id }}.{{ $json.format || 'webm' }}",
        "dataPropertyName": "audio",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "save-audio-file",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "file": "={{ $binary.data }}",
        "options": {
          "language": "={{ $json.language || 'en' }}",
          "prompt": "={{ $json.prompt || '' }}",
          "temperature": "={{ $json.temperature || 0 }}",
          "responseFormat": "verbose_json"
        }
      },
      "id": "openai-transcribe",
      "name": "OpenAI Transcribe Audio",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "transcriptions",
        "columns": "id,transcription,status,completed_at,segments,language,duration",
        "updateKey": "id",
        "options": {}
      },
      "id": "update-database",
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "transcriptions",
        "columns": "id,status,error",
        "updateKey": "id",
        "options": {}
      },
      "id": "update-error",
      "name": "Update Error Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract JSON Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON Data": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "OpenAI Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Transcribe Audio": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 900
  },
  "versionId": "optimized-v1",
  "id": "optimized-transcription",
  "meta": {
    "instanceId": "n8n"
  },
  "tags": []
}
